body {
  font-family: sans-serif;
  margin: 0;
  background: #101010;
  color: #fff;
}

header {
  background: #202020;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
}

#explorer {
  width: 200px;
  background: #303030;
  padding: 10px;
}

#stage {
  flex: 1;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editor {
  padding: 10px;
  background: #212121;
}
